@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen antialiased;
}

a {
  @apply text-accent underline-offset-2 hover:text-accent-foreground;
}
